:root {
  --background-color: #{$light-background-color};
  --text-color: #{$light-text-color};
  --shadow-color: #{$light-shadow-color};
}

// 深色模式
[data-theme='dark'] {
  --background-color: #{$dark-background-color};
  --text-color: #{$dark-text-color};
  --shadow-color: #{$dark-shadow-color};
}

// 支援系統偏好設定
@media (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    --background-color: #{$dark-background-color};
    --text-color: #{$dark-text-color};
    --shadow-color: #{$dark-shadow-color};
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

body {
  font-family: "Noto Sans TC", sans-serif;
  background-color: $background-color;
  color: $text-color;
  word-break: break-all;
}

img {
  -webkit-user-drag: none;
  max-width: 100%;
}

h2 {
  @include font(2);
}

h3 {
  @include font(1.6);
}