.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2em 2em 2em 0;
    width: min(43%, 16em);
    overflow: hidden;
    box-shadow: 4px 4px 4px $strong-shadow-color;
    border-radius: 2em;
    transition-duration: 0.3s;

    &:hover {
        scale: 1.1;
        cursor: pointer;
    }

    img {
        width: 100%;
        max-width: 100%;
        aspect-ratio: 1.78;
        object-fit: cover;
    }

    p {
        color: $text-color;
        font-size: 1.5em;
    }

    @media (max-width: 768px) {
        margin-right: 0;
        width: min(60%, 14em);
        aspect-ratio: 1;
    }

    @media (prefers-color-scheme: dark) {
        // box-shadow handled by $strong-shadow-color variable
    }
}