.main {
    padding: 2rem 20vw;

    %inside {
        box-shadow: $shadow-color 0.5em 0.5em 1em 0 inset;
    }

    p {
        margin-top: 0.5rem;
        @include font(1.2);
    }

    ul {
        margin-left: 1.2rem;

        li {
            margin-top: 0.5rem;
            @include font(1.2);
        }
    }

    h3 {
        margin: 0.5rem;
        padding: 0.5rem;
    }

    details {
        @extend %inside;
        margin: 0.5rem;
        padding: 0.5rem;

        >summary {
            >h3 {
                display: inline
            }
        }

        &>*:not(summary) {
            padding-left: 1.2rem;
        }
    }

    img {
        margin-top: 0.5rem;
    }

    .dualBox {
        width: 100%;
        display: flex;
        flex-direction: row;

        img {
            width: 50%;
            padding: 0.1rem;
        }
    }

    @media screen and (max-width: 768px) {
        padding: 2rem 5vw;



        .dualBox {
            flex-direction: column;

            img {
                width: fit-content;
                max-width: 100%;
            }
        }
    }
}