.nav-box {
    position: relative;
    width: 100vw;
    height: 5em;
}

.circle {
    position: absolute;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-image: radial-gradient(circle, #fff 0, #fff 0.6em, #f00 0.6em);
    transition-duration: 0.2s;
}

.circle:hover {
    scale: 120%;
}

.emerge {
    animation: circle 1s linear;
    animation-iteration-count: 2;
    animation-fill-mode: backwards;
}

@keyframes circle {
    0% {
        background-image: radial-gradient(circle, #fff 0, #fff 0.6em);
    }

    100% {
        background-image: radial-gradient(circle, #ff0 0, #ff0 0.6em, #f00 0.6em);
    }
}

.line {
    position: absolute;
    z-index: -1;
}

#circle-1 {
    top: 0;
    left: 0;
}

#circle-2 {
    top: 0;
    left: 5em;
}

#circle-3 {
    top: 2.2em;
    left: 10.4em;
}

#line-1 {
    top: 0.5em;
    left: 1.5em;
    animation: line-1 2s ease-in both;
    stroke-dasharray: 4em;
}

#line-2 {
    top: 0.5em;
    left: 6.5em;
    animation: line-2 2s ease-in both;
    stroke-dasharray: 6em;
}

@keyframes line-1 {
    0% {
        stroke-dashoffset: 4em;
    }

    100% {
        stroke-dashoffset: 0em;
    }
}

@keyframes line-2 {
    0% {
        stroke-dashoffset: 6em;
    }

    100% {
        stroke-dashoffset: 0em;
    }
}