$header-height: 80px;

.header {
    width: 100%;
    height: $header-height;
    background-color: $background-color;
    position: relative;

    box-shadow: $shadow-color 0 -1em 1em 1em inset;

    .menu {
        display: none;
        background-color: transparent;
        color: $text-color;
        @include font(1.6);
        position: absolute;
        top: 0;
        left: 1rem;
        line-height: $header-height;
        border: none;
    }

    >h1 {
        position: absolute;
        top: 0;
        left: 10vw;
        line-height: $header-height;
        color: $text-color;
        // text-indent: -9999px;
    }

    >nav>ul {
        position: absolute;
        top: 0;
        right: 10vw;
        line-height: $header-height;

        >li {
            display: inline;
            margin: 0 1rem;

            >a {
                color: $text-color;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .menu {
            display: block;
        }

        >h1 {
            left: 50%;
            transform: translateX(-50%);
        }

        >nav {
            display: none;
        }
    }
}

.breadcrumb {
    position: relative;
    // top: 5em;
    // width: 100%;
    padding: 0.2em 14% 0.2em;
    height: fit-content;
    background-color: black;
    box-shadow: 0px 4px 4px $strong-shadow-color;
    list-style: none;
}

.breadcrumb a {
    text-decoration: none;
    color: lightyellow;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li+li::before {
    content: '>';
    color: white;
    padding: 0 0.5em 0;
}

@media (max-width: 768px) {
    .logo {
        padding-left: 0%;
        flex-direction: column;
        justify-content: center;
    }

    .breadcrumb {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (prefers-color-scheme: dark) {
    .logo p {
        color: white;
    }

    .breadcrumb {
        background-color: rgb(32, 16, 0);
        // box-shadow handled by $strong-shadow-color variable
    }
}