@import "tailwindcss";

/* Custom Scrollbar for the map container */
.metro-scroll::-webkit-scrollbar {
    width: 6px;
}

.metro-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.metro-scroll::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 20px;
}